kagglehub
huggingface_hub
kaggle

# https://huggingface.co/docs/datasets/en/loading
datasets
pandas

# file types
openpyxl
pdfplumber
charset-normalizer

requests
beautifulsoup4

openai
python-dotenv
pandas